#!/bin/bash

# Copyright 2023 The Reg Reporting Blueprint Authors

# Licensed under the Apache License, Version 2.0 (the 'License');
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at

#     https://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an 'AS IS' BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Set the environment variables
# These must be configured by the user
export PROJECT_ID= YOURVALUE
export PROJECT_ID_GOV= YOURVALUE
export REGION= YOURVALUE

# Data Load variables
export PROJECT_NUMBER=$(gcloud projects describe $PROJECT_ID --format="value(projectNumber)")
export GCS_BUCKET_TPCDI=${PROJECT_NUMBER}-tpcdi-data
export PROJECT_NUMBER_GOV=$(gcloud projects describe $PROJECT_ID_GOV --format="value(projectNumber)")
export KMS_KEYRING=cmek-keyring-bigquery
export KMS_KEYNAME=cmek-bigquery-key
export KMS_KEY="projects/${PROJECT_ID}/locations/${REGION}/keyRings/${KMS_KEYRING}/cryptoKeys/${KMS_KEYNAME}"

# CloudDQ variables
export CLOUDDQ_BIGQUERY_DATASET="cloud_dq"
#export CLOUDDQ_GOOGLE_CLOUD_PROJECT=${PROJECT_ID_GOV}
#export CLOUDDQ_BIGQUERY_REGION=${REGION}

echo -e "\nYour environment variables have been initialised as follows:"
echo -e "\n\nKey variables:"
echo -e "\tPROJECT_ID                        :" $PROJECT_ID
echo -e "\tPROJECT_NUMBER                    :" $PROJECT_NUMBER
echo -e "\tPROJECT_NUMBER_GOV                :" $PROJECT_NUMBER_GOV
echo -e "\tPROJECT_ID_GOV                    :" $PROJECT_ID_GOV
echo -e "\tREGION                            :" $REGION
           
echo -e "\n\nData Load:"           
echo -e "\tGCS_BUCKET_TPCDI                  :" $GCS_BUCKET_TPCDI
echo -e "\tKMS_KEY                           :" $KMS_KEY
echo -e "\tKMS_KEYRING                       :" $KMS_KEYRING
echo -e "\tKMS_KEYNAME                       :" $KMS_KEYNAME
echo -e "\tKMS_KEY                           :" $KMS_KEY

echo -e "\n\nData Quality:"
echo -e "\tCLOUDDQ_BIGQUERY_DATASET          :" $CLOUDDQ_BIGQUERY_DATASET




